<html>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="assets/style.css" type='text/css' rel='stylesheet'/>
    <body>
        <div class="jumbotron">Hello!!</div>

        <div class="alert alert-success" role="alert">
           Test ok 
          </div>

          <div class="alert alert-warning" role="alert">
            Test warning 
           </div>


           <div class="alert alert-danger" role="alert">
            Test danger 
           </div>


    </body>
</html>